body{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.app{
  height: 100%;
  width: 100%;
}

.game-window{
  flex-direction: column;
}

.game-window, .choices{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .choices {
    flex-direction: column;
    justify-content: space-around;
  }
}
.game-window button{
  cursor: pointer;
  padding: 5px 15px;
  font-size: 30px;
  letter-spacing: .1em;
}